spring:
  datasource:
    url: jdbc:mysql://localhost:3306/forumhub_api
    username: yudi
    password: Fefelipe12@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

api:
  security:
    token:
      secret: 12345678